<div class="banner" style="background-image: url(https://www.stryvemarketing.com/wp-content/uploads/2016/07/banner-pikachu.jpg); background-position: bottom;">
<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
<img src="https://i.imgur.com/IMxQrg2.png" alt="">
    <%= render "shared/search" %>
  </div>
</div>
