<div class="banner" style="background-image: linear-gradient(rgba(244,244,244,0.3),rgba(244,244,244,1)), url(https://www.stryvemarketing.com/wp-content/uploads/2016/07/banner-pikachu.jpg); background-position: bottom;">
<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Pok%C3%A9mon_Trading_Card_Game_logo.svg/1280px-Pok%C3%A9mon_Trading_Card_Game_logo.svg.png" alt="" class="w-25">
    <%= render "shared/search" %>
  </div>
</div>
