<div class="banner">
<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
<img src="https://i.imgur.com/IMxQrg2.png" alt="" style="width: 500px;">
    <%= render "shared/search" %>
  </div>
</div>
