<div class="banner" style="background-image: url(https://res.cloudinary.com/fbzsaullo/image/upload/v1654280698/Pokeshop/banner-pikachu_kozntk.png); background-position: bottom;">
<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
<img src="https://i.imgur.com/IMxQrg2.png" alt="">
    <%= render "shared/search" %>
  </div>
</div>
