<div class="banner" style="background-image: linear-gradient(rgba(244,244,244,0.3),rgba(244,244,244,1)), url(https://www.stryvemarketing.com/wp-content/uploads/2016/07/banner-pikachu.jpg); background-position: bottom;">
<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
<img src="https://i.imgur.com/IMxQrg2.png" alt="" style="width: 500px;">
    <%= render "shared/search" %>
  </div>
</div>
