<div class="footer">
  <div class="footer-container d-flex justify-content-between gap-5">
    <div class="w-25" >
      <img src="https://i.imgur.com/IMxQrg2.png" alt="" style="width: 235px;">
    </div>
    <div class="w-25 text-start">
    <h4 style="color: white;">ACCOUNT</h4>
    <ul class="list-group">
      <li style="list-style-type: none;">Create an offer</li>
      <li style="list-style-type: none;">View Profile</li>
    </ul>
    </div>
    <div class="footer-copyright w-25">
    </div>
      <p>© 2022 Pokémon. © 1995–2022 Nintendo/Creatures Inc./GAME FREAK inc.</p>
  </div>
</div>
