<div class="footer">
    <div class="footer-copyright">
      <img src="https://i.imgur.com/IMxQrg2.png" alt="">
    </div>
    <div>
    <small>©2021 Pokémon. ©1995–2021 Nintendo / Creatures Inc. / GAME FREAK inc.</small>
    </div>
    <div class="footer-links">
      <a href="https://github.com/fbzsaullo/pokeshop-tcg" target="blank"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
