<div class="search-form-control mt-5">
  <%= form_tag root_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a card"
    %>
    <%= submit_tag "Search", class: "btn btn-flat" %>
  <% end %>
</div>
