<h1>Edit card</h1>

<%= render "shared/form-card" %>
<div class="vertical-align-container">
  <div class="auth-container d-flex justify-content-between">
    <div class="auth-form p-3">
      <h1>Edit your offer</h1>
        <%= render "shared/form-card" %>
    </div>
  </div>
</div>
