<div class="vertical-align-container">
  <div class="auth-container d-flex justify-content-between">
    <div class="auth-form p-5">
      <h1>Create new offer</h1>
        <%= render "shared/form-card" %>
    </div>
  </div>
</div>
