.footer {
  background: #FAA61F;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  color: #fff;
  width: 100%;
  margin-top: auto;
  position: relative;
  z-index: -1;
}

.footer-container {
  padding-top: 150px;
  width: 90vw;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(151, 151, 151);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
