.navbar-lewagon {
  justify-content: space-between;
  height: 80px;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
}

.navbar-lewagon {
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: #FAA61F;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.container-fluid {
  width: 90vw;
}
