.navbar-lewagon {
  justify-content: space-between;
  height: 80px;
  width: 100%;
  z-index: 1;
  margin-bottom: -1px;
  background-color: #FAC705;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.container-fluid {
  width: 100vw;
  padding: 0 200px;
}
