// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
 height: 100vh;
 background-image: url("pokeball-pb.svg");
 background-repeat: no-repeat;
 background-position: bottom;
 background-attachment: fixed;
 
}
